main {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
    background-color: saddlebrown;
    width: 50%;
    margin: 20px auto;
}

section img {
    max-height: 150px;
    margin-top: 1px;
    max-width: 300px;
    height: 75%;
    margin: auto;
    object-fit: cover;
}

select {
    clear: both;
    width: 10rem;
    width: 15%;
    margin: 0 auto;
    margin: 5px;
}

footer {
    margin-top: 250px;
    padding: 10px;
    font-size: 21px;
    margin: auto;
    width: 160px;
}

header {
    text-align: center;
}



/* On Desktop, float the divs in the section and center them */

@media(min-width: 960px) {
    body {
        background-color: burlywood;
    }
    select {
        width: 10rem;
        width: 25%;
        margin: auto;
        margin: 5px;
    }


    section {
        display: flex;
        flex-direction: row;
        align-items: space-around;
        flex-wrap: wrap;
        width: 100%;
        height: 660px;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: antiquewhite;
        margin: auto;
        width: 30%;
        margin-top: 50px;
        height: 360px;

    }
    section img {
        margin-left: auto;
        margin-right: auto;
        height: 85%;
        display: block;
        margin-top: 10px;
        object-fit: cover;
    }
}